<a href="https://colab.research.google.com/github/wjdrnqja9/TIL/blob/main/algorithm/baekjoon/baekjoon_step8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####1978. 주어진 수 N개 중에서 소수가 몇 개인지 찾아서 출력하는 프로그램을 작성하시오.

In [ ]:
n = int(input())

a = list(map(int,(input().split())))
b = []

prime=[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199,211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293,307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397,401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499,503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599,601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691,701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797,809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887,907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

for i in range(n):
    if a[i] in prime:        
        b.append(a[i])
        
print(len(b))

4
1 3 5 7
3

In [ ]:
n = int(input())
numbers = map(int, input().split())
prime = 0
for num in numbers:
    error = 0
    if num > 1 :
        for i in range(2, num//2+1):
            if num % i == 0:
                error += 1
        if error == 0:
            prime += 1
print(prime)

4
1 3 5 7
3

2581. 자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최솟값을 찾는 프로그램을 작성하시오.

예를 들어 M=60, N=100인 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 이들 소수의 합은 620이고, 최솟값은 61이 된다.

In [ ]:
M = int(input())
N = int(input())
prime=[]
for i in range(M,N+1):
    prime.append(i)
if 1 in prime:
    prime.remove(1)

for i in range(M,N+1):
    for j in range(2, i//2+1):
        if i%j == 0:
            prime.remove(i)
            break
            
if len(prime) != 0:
    print(sum(prime))
    print(min(prime))

else:
        print(-1)

60
100
620
61

11653. 정수 N이 주어졌을 때, 소인수분해하는 프로그램을 작성하시오.

In [24]:
N = int(input()) # 시간 초과
prime=[]

for i in range(2,N+1):
    prime.append(i)

for i in range(2,N+1):
    for j in range(2, i//2+1):
        if i%j == 0:
            prime.remove(i)
            break

i=0

while N != 1:

    if N % prime[i] == 0:

        print(prime[i])
        N = N//prime[i]

    else:
        i+=1

9991
97
103

In [25]:
N = int(input())
while N != 1:
    for i in range(2, N+1):
        if N % i == 0:
            print(i)
            N = N // i
            break

72
2
2
2
3
3