<a href="https://colab.research.google.com/github/wjdrnqja9/TIL/blob/main/algorithm/baekjoon/baekjoon_step8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####1978. 주어진 수 N개 중에서 소수가 몇 개인지 찾아서 출력하는 프로그램을 작성하시오.

In [ ]:
n = int(input())

a = list(map(int,(input().split())))
b = []

prime=[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199,211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293,307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397,401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499,503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599,601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691,701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797,809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887,907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

for i in range(n):
    if a[i] in prime:        
        b.append(a[i])
        
print(len(b))

4
1 3 5 7
3

In [ ]:
[6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,114,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,299,303,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,393,397,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,484,488,508,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,578,582,602,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,665,669,689,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,759,763,783,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,846,850,968]

In [ ]:
n = int(input())
numbers = map(int, input().split())
prime = 0
for num in numbers:
    error = 0
    if num > 1 :
        for i in range(2, num//2+1):
            if num % i == 0:
                error += 1
        if error == 0:
            prime += 1
print(prime)

1
6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,114,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,299,303,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,393,397,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,484,488,508,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,578,582,602,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,665,669,689,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,759,763,783,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,846,850,968
76

2581. 자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최솟값을 찾는 프로그램을 작성하시오.

예를 들어 M=60, N=100인 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 이들 소수의 합은 620이고, 최솟값은 61이 된다.

In [ ]:
M = int(input())
N = int(input())
prime=[]
for i in range(M,N+1):
    prime.append(i)
if 1 in prime:
    prime.remove(1)

for i in range(M,N+1):
    for j in range(2, i//2+1):
        if i%j == 0:
            prime.remove(i)
            break
            
if len(prime) != 0:
    print(sum(prime))
    print(min(prime))

else:
        print(-1)

60
100
620
61

11653. 정수 N이 주어졌을 때, 소인수분해하는 프로그램을 작성하시오.

In [ ]:
N = int(input()) # 시간 초과
prime=[]

for i in range(2,N+1):
    prime.append(i)

for i in range(2,N+1):
    for j in range(2, i//2+1):
        if i%j == 0:
            prime.remove(i)
            break

i=0

while N != 1:

    if N % prime[i] == 0:

        print(prime[i])
        N = N//prime[i]

    else:
        i+=1

9991
97
103

In [ ]:
N = int(input())
while N != 1:
    for i in range(2, N+1):
        if N % i == 0:
            print(i)
            N = N // i
            break

72
2
2
2
3
3

In [ ]:
M, N = map(int, input().split()) # 시간  초과

prime=[]
for i in range(M,N+1):
    prime.append(i)
if 1 in prime:
    prime.remove(1)

for i in range(M,N+1):
    for j in range(2, i//2+1):
        if i%j == 0:
            prime.remove(i)
            break

for i in prime:
    print(i)

3 16
3
5
7
11
13

In [ ]:
strings = ['ab', 'ba', 'ac']
n = 1

In [ ]:
strings.sort()
strings

['ab', 'ac', 'ba']

In [ ]:

strings[i][n].sort()

'a'

In [ ]:
def solution(n):
    answer = 0
    a = 0
    for i in range(2, n+1):
        for j in range(2, i+1):
            if i % j  == 0:
                a+=1
        if a == 1:
            answer+=1
            a = 0
    return answer

In [ ]:
n = 10

In [ ]:
answer = 0
a = 0
for i in range(2, n+1):
    for j in range(2, i+1):
        if i % j  == 0:
            a+=1
    if a == 1:
        answer+=1
        a = 0
answer

2