<a href="https://colab.research.google.com/github/wjdrnqja9/TIL/blob/main/baekjoon_step4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####10818. N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
a = list(map(int, input().split()))
a.sort()
print(a[0], a[n-1])

5
3 5 7 35 10
3 35

##### 2562. 9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

In [ ]:
a=[]
for i in range(9):
    a.append(int(input()))
print(max(a))
print(a.index(max(a))+1 )

3
29
38
12
57
74
40
85
61
85
8

#####2577. 세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

In [ ]:
A = int(input())
B = int(input())
C = int(input())

n = list(str(A*B*C))

for i in range(10):
    print(n.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

3052. 수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

In [ ]:
a=[]
n=[]
for i in range(10):
    a.append(int(input()))

for i in range(10):
    if a[i] % 42 in n:
        pass
    else:
        n.append(a[i] % 42)  
print(len(n))

39
40
41
42
43
44
82
83
84
85
6

#####1546. 세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

#####예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

#####세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
a = list(map(int, input().split()))

print(sum(a)/max(a)/n*100)

9
10 20 30 40 50 60 70 80 90
55.55555555555556

#####8958. "OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

#####"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

#####OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())

for i in range(n):
    sc = 0
    sumsc = 0
    a = list(str(input()))

    for j in a:
        if j == 'O':
            sc = sc + 1            
        else:
            sc = 0

        sumsc = sumsc + sc
    print(sumsc)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

#####4344. 대학생 새내기들의 90%는 자신이 반에서 평균은 넘는다고 생각한다. 당신은 그들에게 슬픈 진실을 알려줘야 한다.

In [ ]:
c = int(input())

for i in range(c):
    s = 0
    a = list(map(int, input().split()))
    avg = sum(a[1:]) / a[0]

    for i in range(a[0]):


        if a[i+1] > avg:
            s += 1

        else:
            pass

    print(f'{"%0.3f" % (s / a[0] * 100)}%')

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%