<a href="https://colab.research.google.com/github/wjdrnqja9/TIL/blob/main/baekjoon_step1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####2557. Hello World!를 출력하시오.

In [ ]:
print("Hello World!")

Hello World!

#####10718. 대회를 뜰 줄 모르는 지박령 kriii를 위해서 격려의 문구를 출력해주자.

In [ ]:
print("강한친구 대한육군\n강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

#####10171. 아래 예제와 같이 고양이를 출력하시오.

In [ ]:
print("\\    /\\\n"
" )  ( ')\n"
"(  /  )\n"
" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

#####25083. 아래 예제와 같이 새싹을 출력하시오.

In [ ]:
print("         ,r'\"7\n"
"r`-_   ,'  ,/\n"
" \. \". L_r'\n"
"   `~\/\n"
"      |\n"
"      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

#####1000. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
A , B = input().split()
print(int(A)+int(B))

1 2
3

#####1001. 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

In [ ]:
A , B = input().split()
print(int(A)-int(B))

3 2
1

#####10998. 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.

In [ ]:
A , B = input().split()
print(int(A)*int(B))

3 4
12

#####1008. 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.

In [ ]:
A , B = input().split()
print(int(A)/int(B))

1 3
0.3333333333333333

#####10859. 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

In [ ]:
A, B = input().split()
print(int(A)+int(B))
print(int(A)-int(B))
print(int(A)*int(B))
print(int(A)//int(B))
print(int(A)%int(B))

7 3
10
4
21
2
1

#####10926. 준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 
#####준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.

In [ ]:
a=input()
print(a+'??!')

baekjoon
baekjoon??!

#####18108. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.

In [ ]:
a=int(input())
print(a-543)

2541
1998

#####10430. (A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

#####(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

#####세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

In [ ]:
A, B, C = input().split()
print((int(A)+int(B))%int(C))
print(((int(A)%int(C))+(int(B)%int(C)))%int(C))
print((int(A)*int(B))%int(C))
print(((int(A)%int(C))*(int(B)%int(C)))%int(C))

5 8 4
1
1
0
0

2588. 세자리 수 X 세자리 수

In [ ]:
a=input()
b=input()
c=print(int(a)*int(b[2]))

d=print(int(a)*int(b[1]))

e=print(int(a)*int(b[0]))

print(int(a)*int(b))

472
385
2360
3776
1416
181720

In [ ]:
A = int(input())

for i in range(1,10):
    print(f'{A} * {i} = {A*i}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
x = int(input())
pl = []

for i in range(x):
    A, B=input().split()
    pl.append(int(A)+int(B))

for i in pl:
    print(i)

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

In [ ]:
n = int(input())
sum=0

while n>0:
    sum=sum+n
    n=n-1

print(sum)

3
6

In [ ]:
x = int(input())
pl = []

for i in range(x):
    A, B=input().split()
    print(int(A)+int(B))

5
1 1
2
12 34
46
5 500
505
40 60
100
1000 1000
2000

In [ ]:
import sys

T = int(sys.stdin.readline())

AandB = []
for i in range(T):
    AandB = sys.stdin.readline().split()
    for i in range(2):
        AandB[i] = int(AandB[i])
    print(sum(AandB))

In [ ]:
n = int(input())

for i in range(n):
    print(i+1)

1
1

In [ ]:
n = int(input())

for i in range(n):
    print(n)
    n=n-1

5
5
4
3
2
1

In [ ]:
t = int(input())

for i in range(t):
    A, B = input().split()
    print(f'Case #{i+1}: {int(A)+int(B)}')

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

In [ ]:
t = int(input())

for i in range(t):
    A, B = input().split()
    print(f'Case #{i+1}: {A} + {B} = {int(A)+int(B)}')

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [ ]:
n = int(input())

for i in range(n):
    print('*'*(i+1))

5
*
**
***
****
*****

In [ ]:
n = int(input())

for i in range(n):
    print(' '*(n-1-i)+'*'*(i+1))

5
    *
   **
  ***
 ****
*****

In [ ]:
n, x = map(int, input().split())
a = list(map(int, input().split()))
for i in range(n):
    if a[i] < x :
        print(a[i], end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
while True:
    A, B = map(int, input().split())
    if A == 0 and B == 0:
        break
    else:
        print(A + B)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

In [ ]:
while True:
    try:
        A, B = map(int, input().split())
        print( A + B )
    except:
        break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0

In [ ]:
n = int(input())
c = 0
x = 0
l=[n]

if n < 10:
    n=n*10

a = n // 10
b = n % 10

while(True):

    c = a + b

    x = (b * 10) + (c % 10)

    if x == n:
        break
    else:
        a =  x // 10 
        b = x % 10
        l.append(x)

print(len(l))

1
60

In [ ]:
n = int(input())
a = n // 10
b = n % 10

print(a,b)

26
2 6

In [ ]:
n = int(input())
a = list(map(int, input().split()))
a.sort()
print(a[0], a[n-1])

5
3 5 7 35 10
3 35

In [ ]:
a=[]
for i in range(9):
    a.append(int(input()))
print(max(a))
print(a.index(max(a))+1 )

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
A = int(input())
B = int(input())
C = int(input())

n = list(str(A*B*C))

for i in range(10):
    print(n.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
a=[]
n=[]
for i in range(10):
    a.append(int(input()))

for i in range(10):
    if a[i] % 42 in n:
        pass
    else:
        n.append(a[i] % 42)  
print(len(n))

39
40
41
42
43
44
82
83
84
85
6

In [ ]:
n = int(input())
a = list(map(int, input().split()))

print(sum(a)/max(a)/n*100)

9
10 20 30 40 50 60 70 80 90
55.55555555555556

In [ ]:
n = int(input())

for i in range(n):
    sc = 0
    sumsc = 0
    a = list(str(input()))

    for j in a:
        if j == 'O':
            sc = sc + 1            
        else:
            sc = 0

        sumsc = sumsc + sc
    print(sumsc)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [ ]:
c = int(input())

for i in range(c):
    s = 0
    a = list(map(int, input().split()))
    avg = sum(a[1:]) / a[0]

    for i in range(a[0]):


        if a[i+1] > avg:
            s += 1

        else:
            pass

    print(f'{"%0.3f" % (s / a[0] * 100)}%')

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%

In [ ]:
c

5

In [ ]:
sum(a[1:]) / a[0]

70.0

In [ ]:
data = [1,3,5,7,9]

r=0
for i in data:
    print(i)
    if i % 2 == 1 :
        r +=i
print(r)

1
3
5
7
9
25

In [ ]:
def nsum(a):

    return sum(a)

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nsum(a)

55

In [ ]:
def d():
    a = []
    n = 0

    for i in range(10000):
        i+=1
        a.append(i)

    for i in range(10000):
        i+=1
        if i < 100:
            n = i + int(i / 10) + i % 10
            if n in a:
                a.remove(n) 
        elif i < 1000:
            n = i + int(i / 100) + i % 10 + (int(int(i/10)%10))
            if n in a:
                a.remove(n)
        elif i < 10000:
            n = i + int(i / 1000) + i % 10 + (int(int(i/10)%10)) +  int(int((i/10))/10)%10
            if n in a:
                a.remove(n)
        elif i == 10000:
            n = i + i/10000
            if n in a:
                a.remove(n)
    for i in a:
        print(i)
d()

In [ ]:
def

[1, 2, 3]