<a href="https://colab.research.google.com/github/wjdrnqja9/TIL/blob/main/baekjoon_step1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####2557. Hello World!를 출력하시오.

In [ ]:
print("Hello World!")

Hello World!

#####10718. 대회를 뜰 줄 모르는 지박령 kriii를 위해서 격려의 문구를 출력해주자.

In [ ]:
print("강한친구 대한육군\n강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

#####10171. 아래 예제와 같이 고양이를 출력하시오.

In [ ]:
print("\\    /\\\n"
" )  ( ')\n"
"(  /  )\n"
" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

#####25083. 아래 예제와 같이 새싹을 출력하시오.

In [ ]:
print("         ,r'\"7\n"
"r`-_   ,'  ,/\n"
" \. \". L_r'\n"
"   `~\/\n"
"      |\n"
"      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

#####1000. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
A , B = input().split()
print(int(A)+int(B))

1 2
3

#####1001. 두 정수 A와 B를 입력받은 다음, A-B를 출력하는 프로그램을 작성하시오.

In [ ]:
A , B = input().split()
print(int(A)-int(B))

3 2
1

#####10998. 두 정수 A와 B를 입력받은 다음, A×B를 출력하는 프로그램을 작성하시오.

In [ ]:
A , B = input().split()
print(int(A)*int(B))

3 4
12

#####1008. 두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.

In [ ]:
A , B = input().split()
print(int(A)/int(B))

1 3
0.3333333333333333

#####10859. 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오.

In [ ]:
A, B = input().split()
print(int(A)+int(B))
print(int(A)-int(B))
print(int(A)*int(B))
print(int(A)//int(B))
print(int(A)%int(B))

7 3
10
4
21
2
1

#####10926. 준하는 사이트에 회원가입을 하다가 joonas라는 아이디가 이미 존재하는 것을 보고 놀랐다. 준하는 놀람을 ??!로 표현한다. 
#####준하가 가입하려고 하는 사이트에 이미 존재하는 아이디가 주어졌을 때, 놀람을 표현하는 프로그램을 작성하시오.

In [ ]:
a=input()
print(a+'??!')

baekjoon
baekjoon??!

#####18108. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.

In [ ]:
a=int(input())
print(a-543)

2541
1998

#####10430. (A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

#####(A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

#####세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

In [ ]:
A, B, C = input().split()
print((int(A)+int(B))%int(C))
print(((int(A)%int(C))+(int(B)%int(C)))%int(C))
print((int(A)*int(B))%int(C))
print(((int(A)%int(C))*(int(B)%int(C)))%int(C))

5 8 4
1
1
0
0

2588. 세자리 수 X 세자리 수

In [ ]:
a=input()
b=input()
c=print(int(a)*int(b[2]))

d=print(int(a)*int(b[1]))

e=print(int(a)*int(b[0]))

print(int(a)*int(b))

472
385
2360
3776
1416
181720