<a href="https://colab.research.google.com/github/wjdrnqja9/TIL/blob/main/baekjoon_step3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####2739. N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

In [ ]:
A = int(input())

for i in range(1,10):
    print(f'{A} * {i} = {A*i}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

#####10950. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
x = int(input())
pl = []

for i in range(x):
    A, B=input().split()
    pl.append(int(A)+int(B))

for i in pl:
    print(i)

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

#####8393. n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
sum=0

while n>0:
    sum=sum+n
    n=n-1

print(sum)

3
6

#####15552. 첫 줄에 테스트케이스의 개수 T가 주어진다. T는 최대 1,000,000이다. 다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.

In [ ]:
x = int(input())
pl = []

for i in range(x):
    A, B=input().split()
    print(int(A)+int(B))

5
1 1
2
12 34
46
5 500
505
40 60
100
1000 1000
2000

In [ ]:
import sys

T = int(sys.stdin.readline())

AandB = []
for i in range(T):
    AandB = sys.stdin.readline().split()
    for i in range(2):
        AandB[i] = int(AandB[i])
    print(sum(AandB))

#####2741. 자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [1]:
n = int(input())

for i in range(n):
    print(i+1)

5
1
2
3
4
5

#####2742. 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

In [ ]:
n = int(input())

for i in range(n):
    print(n)
    n=n-1

5
5
4
3
2
1

#####11021. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
t = int(input())

for i in range(t):
    A, B = input().split()
    print(f'Case #{i+1}: {int(A)+int(B)}')

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

11022. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
t = int(input())

for i in range(t):
    A, B = input().split()
    print(f'Case #{i+1}: {A} + {B} = {int(A)+int(B)}')

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

#####2438. 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

In [ ]:
n = int(input())

for i in range(n):
    print('*'*(i+1))

5
*
**
***
****
*****

#####2439. 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제. 하지만, 오른쪽을 기준으로 정렬한 별을 출력하시오.

In [ ]:
n = int(input())

for i in range(n):
    print(' '*(n-1-i)+'*'*(i+1))

5
    *
   **
  ***
 ****
*****

#####10871. 정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

In [ ]:
n, x = map(int, input().split())
a = list(map(int, input().split()))
for i in range(n):
    if a[i] < x :
        print(a[i], end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

#####10952. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
while True:
    A, B = map(int, input().split())
    if A == 0 and B == 0:
        break
    else:
        print(A + B)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

#####10951. 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

In [ ]:
while True:
    try:
        A, B = map(int, input().split())
        print( A + B )
    except:
        break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0

#####1110. 0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.

#####26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

#####위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

#####N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

In [ ]:
n = int(input())
c = 0
x = 0
l=[n]

if n < 10:
    n=n*10

a = n // 10
b = n % 10

while(True):

    c = a + b

    x = (b * 10) + (c % 10)

    if x == n:
        break
    else:
        a =  x // 10 
        b = x % 10
        l.append(x)

print(len(l))

1
60